:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  height: 294px;
  cursor: zoom-in;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.photo-card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  /* 100% ширины родителя минус margin между колонками (30px*) делим на 3 колонки */

  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.photo-card:nth-child(3n) {
  margin-right: 0;
}

.photo-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.photo-card:hover {
  transform: scale(1.03);

  transition: transform var(--animation-duration) var(--timing-function);
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  display: flex;
  align-items: center;
}

.material-icons {
  display: block;
  margin-right: 6px;
}

/* .gallery-image {
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
} */

.gallery-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery-link:hover {
  cursor: zoom-in;
}
